
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.gitignore


.idea/
.vscode/
.DS_Store
Thumbs.db

.env
*.env.*
tests/
htmlcov/
.pytest_cache/
.coverage
Dockerfile
docker-compose.yml
docker-compose.*.yml
migration.sql
*.log
*.log.*